@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('./variables.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../assets/img/modern-futuristic.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#logout {
    margin-top: 10%;
    width: 300px;
    font-family:'Silkscreen', cursive;
    box-shadow: var(--shadow-blue);
}

h5{
    width: 300px;
    font-family:'Silkscreen', cursive;
}
table {
    border: none;
}
.slogan, .new {
    font-family:'Silkscreen', cursive;
    text-shadow: black 0.2em 0.2em 0.1em;
}

.headerHeight {
    height: 100px;
}

.new {
    width: 80px;
    height: 80px;
    border: none;
    box-shadow: var(--shadow-blue);
    background: linear-gradient(rgba(48, 45, 45, 0.5), #494cd760);
    color: white;
}
.new:hover{
    background: linear-gradient(rgba(48, 45, 45, 0.5), #0105ff60);
}
.records {
    width: 100%;
    user-select: none;
}

.records th {
    background: linear-gradient(rgba(48, 45, 45, 0.5), #0105ff60);
}

.records tbody tr:hover {
    background: linear-gradient(rgba(48, 45, 45, 0.5), #0026ff60);
}

#tblData tr td {
    color: white;
}

.records th:last-child,
.records td:last-child,
.records th:first-child,
.records td:first-child {
   text-align: center;  
}

.records tbody tr {
    background: rgba(12, 12, 12, 0.5);
}

.btnAction {
    width: 70px;
    margin-left: 5px;
}

#btn-edit{
    display: none;
}

.loading {
    background: url('../assets/img/modern-futuristic.jpg') no-repeat;
    background-size: cover;
    margin-top: 300px;
    color: white;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
